/*

Some CSS to change paragraphs


	
*/


.top_bar{
	margin: 10px;*/
		padding-left:720px;
		/*width:200px;
		padding-top: 10px;*/

	
}

.profile .skills{
	background-color: #d9d9d9;
	width:170px;
}

.profile .summary{
	background-color: #d9d9d9;
	width:400px;
}

/*.row{



}

.hFive{
	


}*/

